body {
  background: #f7f7f7 url(https://wallpaperaccess.com/full/414446.jpg) 0 0
    no-repeat;
  background-size: cover;
}
h1 {
  font-weight: 400;
  font-size: 3em;
}
h2 {
  font-weight: 300;
  margin-top: 0.5em;
}
section {
  margin: 1.5em auto;
  width: 400px;
}

.text {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.text > p:first-of-type {
  width: 100%;
  margin-top: 0;
  margin-bottom: auto;
  line-height: 13px;
  font-size: 12px;
}
.text > p:last-of-type {
  width: 100%;
  text-align: right;
  color: silver;
  margin-bottom: -7px;
  margin-top: auto;
}
.text-l {
  float: left;
  padding-right: 10px;
}
.text-r {
  float: right;
  padding-left: 10px;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  float: left;
  padding-right: 10px;
}
.macro {
  margin-top: 5px;
  width: 85%;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}
.msj-rta {
  margin-right: 4px;
  float: right;
  background: whitesmoke;
}
.msj {
  margin-left: 4px;
  float: left;
  background: white;
}
.frame {
  background: #154e4f;
  height: 450px;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
}
.frame > div:last-of-type {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

button {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50%;
  padding: 0.7em 1em;
  margin: 4em auto 3em;
  text-align: center;
  color: #fff;
  background: linear-gradient(180deg, #234554 0%, #2f84a9 80%, #2f84a9 100%);
  box-shadow: 2px 5px 30px rgba(63, 200, 201, 0.4);

  will-change: transform, filter;
  transition: all 0.3s ease-out;
}
button .fa {
  font-size: 50px;
  line-height: 80px;
  margin: 0;
  text-shadow: 1px 2px 2px #2a8b90;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.3em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}
